.container {
    display: flex;
    flex-direction: column;
}
.item {
    margin: 1em;
    display: flex;
    gap: 1em;
}
.item_col {
    margin: 1em;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.labelInput {
    font-size: 16px;
    padding: 1em;
}
.btn {
    background-color: cornflowerblue;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 1em;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.l_item {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-left: 0.5em;
    border-bottom: 1px solid black;
}
.img {
    height: 100%;
}